
@import url(http://fonts.googleapis.com/css?family=Chango);

html {
background-color: #0D0D0D;
}

body {
background-color: #0D0D0D;
}

.content
{
margin-top: 5px;
}

.topbar.footer {
height: 310px;
bottom: 0;
top: auto;
}

.topbar.footer .fill {
    height: 100%;
}

.topbar.footer .fill.menu {
    height: 39px;

    border-top: 1px solid #1D1D1D;

    /* default background colour, for all layout engines that don't implement gradients */
    background: #000000;

    /* gecko based browsers */
    background: -moz-linear-gradient(top, #0D0D0D, #000000);

    /* webkit based browsers */
    background: -webkit-gradient(linear, left top, left bottom, from(#0D0D0D), to(#000000));
}

.topbar.footer .fill.dark {
color: #333;
font-size: 12px;
font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
background-image: url(../images/dark-pattern-bg-body.png);
background-repeat: repeat;
background-position: left top;
}

/* Clean up */

.media-grid {
    margin-bottom: 0;
    margin-left: -20px;
}
.media-grid:before, .media-grid:after {
    content: "";
    display: table;
}
.media-grid:after {
    clear: both;
}
.media-grid li {
    display: inline;
}
.media-grid a {
    border: 1px solid #DDDDDD;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
    float: left;
    margin: 0 0 30px 30px;
    padding: 4px;
    text-decoration: none;
}
.media-grid a img {
    display: block;
}
.media-grid a:hover {
    border-color: #0069D6;
    box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
}

.grid-image {
width:150px;
height:150px;
}

.grid-image font{
font-family: 'Lucida Grande','Lucida Sans Unicode',Arial;
margin: 0 2px;
font-size: 16px;
color: #fff;
}

.more-background {
background-image:url(../images/150x150_more.gif);
}

.more-background-back {
background-image:url(../images/back_150x150.gif);
}

.container-fluid {
    min-width: 940px;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
}
.container-fluid:before, .container-fluid:after {
    content: "";
    display: table;
}
.container-fluid:after {
    clear: both;
}
.container-fluid > .sidebar {
    float: left;
    width: 220px;
}
.container-fluid > .content {
    margin-left: 240px;
}



.container.container-top {
	margin-top: 40px;
}

.page-leftborder {
	border-left: 1px solid #C3C3C3;
	height: 620px;
}

.topbar h3 a {
    font-family: 'Chango', cursive;
}

.dropdown-toggle {
    font-size: 14px;
    font-weight: bold;
}

.page-topborder {
	border-top: 1px solid #C3C3C3;
	width: 480px;
}

.page-box-half {
	height: 310px;
	padding: 10px 0 0 10px;
}

.nav a.icon {
	padding: 6px 10px 4px 10px;
}

.page-header-top {
	margin-top: 20px;
}



